#Ignore Mac OS X DS Store
.DS_Store

*~
*.swp
.project
.settings
.classpath

# Ignore all build/dist directories
target
out
fernflower.jar

# Ignore InteliJ Idea project files
.idea
.idea/*
*.iml
*.iws
*.ipr

# Ignore all log files
*.log